<a href="https://colab.research.google.com/github/Pamisaran-Reyan/58002-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

for loop through string

In [5]:
for x in "week":
  print(x)

w
e
e
k

for loop using break statement

In [7]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

to display only Thursday

In [8]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Range() Function

In [9]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [10]:
for x in range (2,6):
  print(x)

2
3
4
5

In [12]:
for x in range (2,6+1,2):
  print(x)

2
4
6

Nested Loops

In [13]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

while loop

In [15]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

while loop using break statement

In [16]:
i = 1
while i<=6:
  print(i)
  if  i == 3:
    break
  i+=1

1
2
3

display only 3

In [17]:
i = 1
while i<=6:
  if  i == 3:
    print(i)
    break
  i+=1

3

Application No.1

In [27]:
adjective = ["Hello"]
number = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
for x in adjective:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [26]:
x = 3
while x<=10:
  print(x)
  if x == 9:
    break
  x+=1

3
4
5
6
7
8
9