<a href="https://colab.research.google.com/github/Pamisaran-Reyan/58002-OOP/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [2]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [3]:
a = 10
b = 9
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

Bool() function

In [8]:
print(bool(1))
print(bool("Ana"))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
False
False
False

Functions can return a Boolean

In [10]:
def myFunction():
  return False

print(myFunction())

False

In [16]:
def myFunction():
  return False
if myFunction():
  print("Yes!")
else:
  print("No!")

No!

In [18]:
print(10>9)

a = 6
b = 7
print(a==b)
print(a!=b)

True
False
True

Python Operators

In [21]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5)
print(10%3)
print(10**2)

15
5
50
2.0
2
1
100

In [28]:
a = 60
b = 13
a<<1
a>>1
a>>2

15

Python Assignment Operators

In [36]:
x = 1
x+=3  # same as x = x+3
print(x)

x = 1
x-=3
print(x)

x = 1
x*=3
print(x)

x = 1
x/=3
print(x)

4
-2
3
0.3333333333333333

Logical Operators

In [45]:
x = True 
y = False

In [46]:
print(x and y)
print(x or y)
print(not(x or y))

False
True
False

Identity Operators

In [48]:
print(x is y)
print(x is not y)

False
True

Application 1 Create an Arithmetic Calculator (MDAS)

In [65]:
c = int(input())
d = int(input())
print('Sum: ', c + d)

a = int(input())
b = int(input())
print('Difference: ', a - b)

e = int(input())
f = int(input())
print('Product: ', e * f)

g = int(input())
h = int(input())
print('Quotient: ', g / h)

4
5
Sum:  9
9
4
Difference:  5
8
4
Product:  32
16
2
Quotient:  8.0